#relatorio-page-section {
    position: relative;
    top: 0;
}

.container-relatorio {
    position: relative;
    margin-inline: var(--mg-inline);
    top: 11%;
}

.container-relatorio h2 {
    font-size: 1.5rem;
}

.container-relatorio p {
    font-size: 16px;
}

.form-textarea-relatorio{
    height: 300px;
}

@media (max-width:1200px) {
    .container-relatorio {
        top: 12%;
        margin-inline: var(--mg-inline-mobile);
    }

    .container-relatorio h2 {
        font-size: 1.5rem;
    }

    .container-relatorio p {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {

    /* mobile do Bootstrap */
    .header-action-btn {
        width: 100%;
    }

    .container-action-btn {
        width: 100%;
    }
}