#prontuario-page-section {
    position: relative;
    top: 0;
    margin-top: 6rem;
}

.container-prontuario {
    position: relative;
    margin-inline: var(--mg-inline);
    top: 11%;
}

.container-prontuario h2 {
    font-size: 1.5rem;
}

.container-prontuario p {
    font-size: 16px;
}

.icone-prontuario {
    background-color: var(--success-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.icone-prontuario i {
    font-size: 2rem;
    color: var(--success);
}

.icone-cuidados-registrados {
    background-color: var(--bg-cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.icone-cuidados-registrados i {
    font-size: 1rem;
    color: var(--cor-primaria);
}

#descricao-cuidado {
    font-size: 0.9rem;
    max-width: 450px;
    word-break: break-word;
}

#voltarPaciente {
    width: max-content;
}

.prontuario-content {
    margin-top: 2rem;
}

.tabs-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
}

.tab-content p {
    margin-top: 0.3rem;
    font-size: 0.75rem;
}

.tab-content h6 {
    margin-bottom: 0.35rem;
}

.tab-item {
    flex: 1;
    padding: 14px 0;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    font-weight: 500;
    color: #6c757d;
    transition: all 0.2s ease;
}

.tab-item:hover {
    background-color: #f8f9fa;
}

.tab-item.active {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.card-prontuario {
    border-top: 5px solid var(--success);
}

.status-observacao.icone-prontuario {
    border-top-color: var(--warning);
}

.status-observacao.icone-prontuario i{
    color: var(--warning);
}

.status-observacao.icone-prontuario {
    background-color: var(--warning-hover);
}

.status-critico.icone-prontuario {
    background-color: var(--danger-hover);
}

.status-critico.card-prontuario {
    border-top-color: var(--danger);
}

.status-critico.card-prontuario i{
    color: var(--danger);
}

.tab-content {
    animation: fadeIn 0.2s ease-in-out;
}

.grupo-validacao {
    display: flex;
    gap: 6px;
}

/* botão base */
.btn-validacao {
    width: 34px;
    height: 34px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6;
    color: #6c757d;
    background: white;
    cursor: pointer;
    transition: 0.15s;
}

/* hover leve */
.btn-validacao:hover {
    background: #f8f9fa;
}

/* icone */
.btn-validacao i {
    color: black !important;
    font-size: 14px;
}


/* quando selecionado */
.btn-check:checked+.btn-validacao.sucesso {
    background: #e9f9ee;
    border-color: #198754;
    color: #198754;
}

.btn-check:checked+.btn-validacao.negadoPorPaciente {
    background: #fff6e5;
    border-color: #ffc107;
    color: #ffc107;
}

.btn-check:checked+.btn-validacao.negado {
    background: #fdeaea;
    border-color: #dc3545;
    color: #dc3545;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:1200px) {
    .container-prontuario {
        top: 12%;
        margin-inline: var(--mg-inline-mobile);
    }

    .container-prontuario h2 {
        font-size: 1.5rem;
    }

    .container-prontuario p {
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {

    .prontuario-content {
        margin-top: 2rem;
    }

    #prontuario-page-section {
        margin-top: 5rem;
        padding-bottom: 5vh;
    }
}