#home-page-section {
    position: absolute;
    top: 0;
}

.container-home {
    position: relative;
    top: 20%;
    margin-inline: var(--mg-inline);
}

.container-home h1 {
    font-size: 1.5rem;
}

.container-home p {
    font-size: 14px;
}

.icon-pacientes-card {
    content: '';
    background-color: var(--primary-hover);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-prescricoes-card {
    content: '';
    background-color: var(--success-hover);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-registros-card {
    content: '';
    background-color: var(--cor-segundaria-hover);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-registros-card i {
    color: var(--cor-segundaria);
}

.icon-relatorios-card {
    content: '';
    background-color: rgba(152, 16, 250, 0.25);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-relatorios-card i {
    color: #9810FA;
}

.button-card-home {
    padding: 20px;
    transition: 0.2s all;
}

.button-card-home:hover {
    background-color: var(--bg-hover-button);
}

.button-card-home span {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-card-home i {
    color: var(--branco);
}

.a-card-home {
    transition: 0.2s all;
}

.a-card-home:hover {
    background-color: var(--bg-hover-button);
}

.a-card-home-icon {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: var(--primary-hover);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1200px) {
    .container-home {
        top: 12%;
        margin-inline: var(--mg-inline-mobile);
    }

    .container-home h1 {
        font-size: 1.5rem;
    }

    .container-home p {
        font-size: 14px;
    }

    .width-a-home {
        width: 40%;
    }

}