.navbar-system {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.15));
    z-index: 1;
}

.icon-button:hover {
    background-color: var(--cor-primaria-hover);
}

.icon-button {
    width: 90px;
    height: 46px;
    border-radius: 25px;
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 12px;
}

.icon-button:hover {
    background-color: var(--cor-primaria-hover);
}

.dropdown-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    width: 36px;
    height: 36px;
    margin-left: 5px;
    margin-right: 1rem;
    border-radius: 50%;
}

.dropdown-toggle::after {
    border-top-color: #fff !important;
}


.icon-button i {
    color: black;
}

.container-button-navbar {
    gap: 55px;
}


@media (max-width:1260px) {
    .container-button-navbar {
        gap: 35px;
    }
}

@media (max-width:1200px) {
    .icon-button {
        width: 50px;
        height: 50px;
    }

    .btn-slide-navbar {
        transition: 0.2s all;
    }

    .btn-slide-navbar:hover {
        background-color: var(--bg-hover-button);

    }

    .quick-item {
        padding: 18px;
    }

    .log-out {
        border: 1px solid var(--danger);
    }

    .bg-navbar {
        background-color: transparent;
    }

    .bg-navbar:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 75px;
        background-color: transparent;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        z-index: -1;
    }
}