.navbar-system {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.15));
    z-index: 1;
}


.dropdown-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--branco);
    width: 45px;
    height: 45px;
    margin-left: 5px;
    border-radius: 50%;
}

.dropdown-navbar-desk {
    border-radius: 8px;
    transition: all 0.5 ease;
}

.dropdown-navbar-desk:hover {
    background-color: var(--bg-hover-button);
    transition: all 0.5 ease;
}

.icon-button {
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-hover);
    justify-items: center;
    border-radius: 50%;
    display: flex;
}

#navlink-perfil {
    transition: 0.5 all ease;
    padding: 10px;
    border-radius: 8px;
}

#navlink-perfil:hover {
    transition: 0.5 all ease;
    background-color: var(--bg-hover-button);
}

.container-button-navbar {
    gap: 55px;
}

.icon-button {
    width: 50px;
    height: 50px;
}

.btn-slide-navbar {
    transition: 0.2s all;
}

.btn-slide-navbar:hover {
    background-color: var(--bg-hover-button);

}

.quick-item {
    padding: 18px;
}

.log-out {
    border: 1px solid var(--danger);
}

.bg-navbar {
    background-color: transparent;
}

.bg-navbar:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: transparent;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: -1;
}

@media (max-width:1260px) {
    .container-button-navbar {
        gap: 35px;
    }
}