:root {
    --bg-body: #e6f0fa;
    --cor-primaria: #02498C;
    --cor-primaria-hover: rgba(2, 73, 140, 0.65);
    --cor-segundaria: #F79736;
    --cor-segundaria-hover: rgba(247, 151, 54, 0.65);
    --cor-terciaria: #FDBA7C;
    --branco: #eee;
    --bg-hover-button: rgba(0, 0, 0, 0.2);
    --font-size: 16px;
    --mg-inline: 20%;
    --mg-inline-mobile: 1rem
}

body{
    background-color: var(--bg-body);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

.form-control::placeholder {
  opacity: 0.75;
}
