.navbar-system {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.15));
}

.icon-button,
.icon-confi {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: background-color 0.2s ease;
}

.icon-button {
    background-color: var(--cor-primaria);
}

.icon-button:hover {
    background-color: var(--cor-primaria-hover);
}

.icon-confi {
    background-color: var(--cor-segundaria);
}

.icon-confi:hover {
    background-color: var(--cor-segundaria-hover);
}

.icon-button i,
.icon-confi i {
    color: white;
    transition: color 0.2s ease;
}

.container-button-navbar {
    gap: 55px;
}


@media (max-width:1260px) {
    .container-button-navbar {
        gap: 35px;
    }
}

@media (max-width:1200px) {
    .icon-button {
        width: 50px;
        height: 50px;
    }

    .icon-confi {
        width: 50px;
        height: 50px;
        background-color: transparent;
    }

    .icon-confi i{
        color: black;
    }

    .icon-confi:hover{
        background-color: var(--bg-hover-button);
    }

    .btn-slide-navbar:hover {
        background-color: var(--bg-hover-button);
    }
}